/*
* Hubuntu UI
* https://github.com/720kb/hubuntu-ui
* brought to you by 720kb
* Support 720kb.net
* License - MIT
*/
html {
  font-family: 'Ubuntu', sans-serif; }

header, main, footer {
  padding-left: 240px; }

.content {
  padding: 1% 2%; }

.brand-logo.page-title {
  padding-left: 2%;
  margin-top: 8px; }

.nav-badge {
  margin-left: -8px;
  position: absolute;
  line-height: 15px;
  top: 8px;
  font-size: 12px;
  text-align: center;
  border-radius: 3px;
  padding: 1px 5px 1px 4px;
  background: rgba(0, 0, 0, 0.87); }

.user {
  padding: 2%;
  line-height: 54px;
  text-align: center; }

.side-nav.custom-side-nav {
  background: #333333; }
  .side-nav.custom-side-nav li {
    padding: 0; }
    .side-nav.custom-side-nav li:hover {
      background: none; }
    .side-nav.custom-side-nav li a {
      font-size: 16px;
      color: rgba(255, 255, 255, 0.5);
      width: 100%;
      padding: 0 4% 0 4%;
      line-height: 55px;
      height: 55px; }
      .side-nav.custom-side-nav li a:active, .side-nav.custom-side-nav li a:hover {
        color: white;
        background: rgba(0, 0, 0, 0.1); }
      .side-nav.custom-side-nav li a i {
        position: relative;
        top: 15px;
        float: right; }
  .side-nav.custom-side-nav .badge {
    margin-right: 25px;
    height: 19px;
    line-height: 18px;
    margin-top: 18px;
    border-radius: 3px;
    width: auto;
    min-width: auto;
    font-size: 11.5px;
    text-align: center;
    padding: 1px  5px 0 4px; }

.ct-chart {
  margin: 0;
  margin-left: -17px; }

.ct-grid {
  stroke: none; }

.ct-area {
  fill-opacity: .6; }

.ct-series-a .ct-area, .ct-series-a .ct-slice-pie {
  fill: #ff3d00;
  fill-opacity: .3; }

.ct-series-b .ct-area, .ct-series-b .ct-slice-pie {
  fill: #ff1744;
  fill-opacity: .8; }

.ct-series-c .ct-area, .ct-series-c .ct-slice-pie {
  fill: lightgrey; }

.shell-header {
  background: #43423e;
  background: -moz-linear-gradient(top, #43423e 0%, #33322e 100%);
  background: -webkit-linear-gradient(top, #43423e 0%, #33322e 100%);
  background: linear-gradient(to bottom, #43423e 0%, #33322e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#43423e', endColorstr='#33322e',GradientType=0 );
  width: 100%;
  height: 30px;
  box-shadow: 0px -1px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.3); }

.shell-header a {
  height: 20px;
  width: 20px;
  display: inline-block;
  border-radius: 15px;
  text-align: center;
  line-height: 16.5px;
  margin-left: 4px;
  margin-top: 5px;
  text-shadow: 0 1px rgba(255, 255, 255, 0.3); }

.shell-header a:last-child {
  text-indent: .5px; }

.shell-header a i {
  font-size: 12.5px;
  vertical-align: text-bottom; }

.shell {
  font-family: Monaco;
  font-size: 13px;
  line-height: 20px;
  margin-top: 10vmin; }

.shell-content {
  background: #350125;
  padding: 1% 2%;
  padding-bottom: 50px; }

.blink {
  font-weight: bolder;
  font-family: Arial;
  animation: blinker .8s linear infinite; }

.breadcrumb {
  height: 55px;
  padding: 0 2% 0 2%; }
  .breadcrumb h6 {
    font-weight: 500;
    line-height: 55px;
    margin: 0;
    color: rgba(0, 0, 0, 0.87); }

.card-header {
  margin-top: 0; }
  .card-header .card-content {
    padding-bottom: 0;
    padding-top: 10px; }

.logo {
  height: 64px;
  text-align: center; }
  .logo img {
    margin-top: 10px; }

.loading {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99999;
  text-align: center; }
  .loading img {
    margin-top: 16%; }

.toast {
  background: rgba(0, 0, 0, 0.79); }

@media only screen and (max-width: 600px) {
  .toast {
    margin-top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); } }
@media only screen and (max-width: 992px) {
  header, main, footer {
    padding-left: 0; }

  .brand-logo.page-title {
    padding: inherit; } }
@media only screen and (min-width: 993px) {
  #toast-container {
    right: 3%;
    top: 11%; } }
@keyframes blinker {
  50% {
    opacity: 0.0; } }

@-webkit-keyframes blinker {
  50% {
    opacity: 0.0; } }

@-moz-keyframes blinker {
  50% {
    opacity: 0.0; } }
