$light-grey: lightgrey;
$dark-grey: #333;

$ubuntu-shell-color: #350125;
$shaded-black: rgba(0, 0, 0, 0.87);
$ghost-black: rgba(0,0,0, .1);


$clear-white: rgba(255,255,255,.5);

$chart-color-a: #ff3d00;
$chart-color-b: #ff1744;
$chart-color-c: $light-grey;
