.ct-chart {
  margin: 0;
  margin-left: -17px;
}

.ct-grid{
  stroke: none;
}

.ct-area {
  fill-opacity: .6;
}

.ct-series-a .ct-area, .ct-series-a .ct-slice-pie {
  fill: $chart-color-a;
  fill-opacity: .3;
}

.ct-series-b .ct-area, .ct-series-b .ct-slice-pie {
  fill: $chart-color-b;
  fill-opacity: .8;
}

.ct-series-c .ct-area, .ct-series-c .ct-slice-pie {
  fill: $chart-color-c;
}
