.side-nav.custom-side-nav {
  background: $dark-grey;

  li {
    padding: 0;

    &:hover {
      background: none;
    }

    a {
      font-size: 16px;
      color: $clear-white;
      width:100%;
      padding:0 4% 0 4%;
      line-height: 55px;
      height:55px;

      &:active, &:hover {
        color:white;
        background: $ghost-black;
      }

      i {
        position: relative;
        top:15px;
        float:right;
      }
    }
  }

  .badge {
    margin-right: 25px;
    height: 19px;
    line-height: 18px;
    margin-top: 18px;
    border-radius: 3px;
    width: auto;
    min-width: auto;
    font-size: 11.5px;
    text-align: center;
    padding: 1px  5px 0 4px;
  }
}